header {
  background-color: #E83958;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  z-index: 999;
  padding: 2vh;
}

.logo {
  text-align: center;
}

body {
  background-color: #F9B2B6;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.circle {
  border-color: white;
  border-width: 0.5vh;
  border-style: solid;
  border-radius: 70vw;
  padding: 0.6vw 1.2vw;
}

.story {
  text-decoration: none;
  position: absolute;
  right: 5vw;
  color: white;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 5vw;
  color: white;
}

main {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 6vh;
  font-weight: 600;
  text-align: center;
  margin: 0px;
}

p {
  font-size: 3.5vh;
  text-align: center;
}

p2 {
  font-size: 4vh;
  font-weight: 500;
  text-align: center;
  color: #E83958;
}

.row_pics {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.img_row {
  margin: 0vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page2 {
  padding: 50px 20px;
  color: white;
}

.row_forks {
  display: flex;
  flex-direction: row;
  width: 80vw;
  padding: 2vw;
}

.row_forks2 {
  display: flex;
  flex-direction: row;
  width: 80vw;
  padding: 2vw;
  padding-left: 15vw;
}

.row_forks p2 {
  font-size: 3vh;
  text-align: left;
  padding-left: 1vw;
}

.row_forks2 p2 {
  font-size: 3vh;
  text-align: left;
  padding-left: 1vw;
}