.carousel-container {
  max-width: 600px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.text-center {
  text-align: center;
  color: #E83958;
  margin-bottom: 0px;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  width: 50vw;
  height: 175px;
  object-fit: contain;
}

.control {
  cursor: pointer;
  border: none;
  background: none;
  color: white;
  font-size: 28px;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  position: fixed;
  left: 0vw;
  padding-top: 40vh;
  width: 30vw;
  height: 80vh;
  top: 52vh;
  color: #E83958;
  /* background-color: wheat; */
}

.next {
  position: fixed;
  right: 0vw;
  padding-top: 40vh;
  width: 30vw;
  height: 80vh;
  top: 52vh;
  color: #E83958;
  /* background-color: wheat; */
}

.back-arrow {
  position: fixed;
  top: 2vh;
  left: 2vw;
  z-index: 999;
}

.name {
  color: #00BFA5;
  font-size: 5vh;
  margin: 0vh;
}

.completed {
  color: #00BFA5;
  font-size: 3vh;
}

.rating {
  color: #00BFA5;
  font-size: 3vh;
}