.profile-container {
  margin-top: 32%;
}

.button-not-clickable {
  display: inline-flex;
  align-items: center;
  color: white;
  background-color: #00BFA5;
  padding: 20px 15px;
  margin: 1%;
  border: none;
  border-radius: 18px;
  font-size: 1.5rem;
}