.profile-container {
  margin-top: 32%;
}

.button-not-clickable {
  display: inline-flex;
  align-items: center;
  color: white;
  background-color: #00BFA5;
  margin: 1vh 10vw;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.5rem;
  padding: 2vh;
}

.completed-button {
  background-color: #00BFA5;
  margin: 3% 8%;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 150%;
  padding-right: 2%;
  padding-left: 12%;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: space-between;
}