/* DEFINE BUTTON STYLE*/
/* overall button style */
.basic-button {
  background-color: #00BFA5;
  border: none;
  color: white;
  padding-left: 12%;
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-align: center;
  text-decoration: none;
  font-size: 3vh;
  margin: 1vh 2vw;
  cursor: pointer;
  border-radius: 1.0rem;
  margin-left: 10vw;
  display: flex;
  flex-direction: row;
  width: 70vw;
}

.basic-button:hover {
  background-color: #029985;
}

#secondLine {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 4vh;
}

.complete.clicked {
  background-color: #FF6F61;
}

/* arrow in button */
.arrow {
  padding-right: 2vw;
  display: flex;
  align-items: center;
}

/* define the style for the completion circles */
.circle {
  position: absolute;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  background-color: #ffffff;
  border-style: solid;
  border-width: 2vw;
  border-color: #FF6F61;
  cursor: pointer;
  left: 3vw;
}

#check {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  color: #ffffff;

}

/* define style for when circle is clicked*/
.circle.clicked {
  background-color: #FF6F61;
  /* Change the background color when clicked */
}

/* toggle check mark */
#check.show {
  display: block;
}

#bonus {
  padding: 2%;
  font-size: 90%;
}