/* overall button style */
.generic-button {
  background-color: #00BFA5;
  margin: 3% 14%;
  margin-right: 8%;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 150%;
  padding-right: 2%;
  padding-left: 12%;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: space-between;
}

.generic-button:hover {
  background-color: #029985;
}

.button-text {
  flex-grow: 1;
  color: white;
  text-decoration: none;
  font-size: 1.0rem;
}

.arrow-general {
  padding-right: 2%;
  display: flex;
  align-items: center;
}

.circle-general {
  position: absolute;
  width: 14%;
  height: 7%;
  border-radius: 50%;
  background-color: #ffffff;
  border-style: solid;
  border-width: 0.2rem;
  border-color: #FF6F61;
  cursor: pointer;
  margin: 5%;
  left: -1%;
}

#dishPic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -45%);
}