/* TOP BAR */
/* top back style */
header {
  background-color: #E83958;
  color: #fff;
  text-align: center;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  z-index: 999;
}

/* top bar text */
/* #logo {
  margin-top: 1vh;
  margin-bottom: 1vh;
} */

/* top bar style for back arrow combination */
/* .topBar {
  display: flex;
  flex-direction: row;
} */

/* BACK ARROW */
/* .back-text {
  color: #fff;
  text-decoration: none;
  margin-left: 5%;
  margin-right: 30%;
} */

/* back arrow text size */
/* .arrow-left {
  font-size: 4.5rem;
} */