/* user status bar */
.statusBar {
  background-color: #FF6F61;
  margin-top: 1px;
  margin-bottom: 2%;

  padding: 2%;
  padding-left: 3%;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 125%;
}

.size {
  font-size: 125%;
}

.refresh {
  position: fixed;
  top: 2vh;
  left: 30vw;
  z-index: 999;
  width: 40vw;
  height: 8vh;
  background-color: transparent;
  border: none;
}