/* user status bar */
.statusBar {
  background-color: #FF6F61;
  margin-top: 1px;
  margin-bottom: 2%;

  padding: 1%;
  padding-left: 3%;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}

.size {
  font-size: 1.2rem;
}