.App {
  text-align: center;
}


body,
html {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin-top: 29%;
  margin-bottom: 30%;
}

.button-div {
  display: flex;
  flex-direction: column;
}