.back-arrow {
  position: fixed;
  top: 2vh;
  left: 2vw;
  z-index: 999;
}

h2 {
  color: #00BFA5;
}

.image-container {
  margin: 0vh 24vw;
  padding: 5vh 5vw;
  border-style: solid;
  border-radius: 50vh;
  border-width: 3vw;
  border-color: #FF6F61;
}

.points {
  font-size: 4vh;
  color: #00BFA5;
}

.ingredients {
  background-color: #00BFA5;
  margin: 2vh 10vw;
  border-radius: 3vh;
  color: white;
  padding: 1vh;
  padding-bottom: 2vh;
}

.ingredients h3 {
  font-size: 4vh;
  margin: 0vh;
}

.ingredients p {
  font-size: 3vh;
  margin: 0vh;
}

.complete-button {
  background-color: #00BFA5;
  border: none;
  font-size: 3vh;
  cursor: pointer;
  color: white;
  padding: 2vh;
  width: 80vw;
  border-radius: 2vh;
  margin-bottom: 2vh;
}

.complete-button.clicked {
  background-color: #FF6F61;
}

.favorite-button {
  background-color: #00BFA5;
  border: none;
  font-size: 3vh;
  cursor: pointer;
  color: white;
  padding: 2vh;
  width: 80vw;
  border-radius: 2vh;
}

.favorite-button.clicked {
  background-color: #FF6F61;
}